In [1]:
a = [10, 20, 30, 40, 50]
    # Access Elements: Print the third element.
    # List Length: Print the number of elements in the list
    # Check if Empty: Write a code to check is list empty.
print(f'My third elemnt is a[2] ')
print(len(a))
empty= True if len(a)>0 else False
print(empty)

My third elemnt is a[2]
5
True

In [7]:
a = [10, 20, 30, 40, 50]
# Change Element: Change the second element of a list to 200 and print the updated list.
# Append Element: Add 600 o the end of a list and print the new list.
# Insert Element: Insert 300 at the third position (index 2) of a list and print the result.
# Remove Element (by value): Remove 600 from the list and print the list.
# Remove Element (by index): Remove the element at index 0 from the list print the list.
a[1]=200
print(a)
a.append(600)
print(a)
a.insert(2,300)
print(a)
a.remove(600)
print(a)
a.pop(0)
print(a)

[10, 200, 30, 40, 50]
[10, 200, 30, 40, 50, 600]
[10, 200, 300, 30, 40, 50, 600]
[10, 200, 300, 30, 40, 50]
[200, 300, 30, 40, 50]

In [8]:
my_list = [10, 20, 30, 40, 50]
#Calculate and print the sum and average of all numbers in a list
total=sum(my_list)
n=len(my_list)
avg=total/n
print(f"The total is {total} and average is {avg}")

The total is 150 and average is 30.0

In [11]:
a = [100, 200, 300, 400, 500]
a=a[::-1]
print(a)

[500, 400, 300, 200, 100]

In [14]:
a = [100, 200, 300, 400, 500]
a.reverse()
print(a)

[500, 400, 300, 200, 100]

In [15]:
numbers = [1, 2, 3, 4, 5, 6, 7]
squared_numbers=[i**2 for i in numbers]
print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49]

In [16]:
data = [8, 2, 15, 1, 9]
max(data)

15

In [17]:
min(data)

1

In [18]:
sports = ['Cricket', 'Football', 'Hockey', 'Football', 'Tennis']
sports.count("Football")

2

In [20]:
sports = ['Cricket', 'Football', 'Hockey', 'Football', 'Tennis']
sports.count("Footballs")

0

In [21]:
numbers = [5, 2, 8, 1, 9]
numbers.sort()
print(numbers)

[1, 2, 5, 8, 9]

In [24]:
# Create a copy of a list [10, 20, 30] and modify the copy. Print both the original and the copied list to demonstrate they are independent.
a=[10,20,30]
print(f"The value of a is {a} and id is {id(a)}")
c=a.copy()
print(f"The value of a is {c} and id is {id(c)}")
c[0]=100
print()
print(f"The value of a is {a} and id is {id(a)}")
print(f"The value of a is {c} and id is {id(c)}")

The value of a is [10, 20, 30] and id is 2394022579968
The value of a is [10, 20, 30] and id is 2394022579904

The value of a is [10, 20, 30] and id is 2394022579968
The value of a is [100, 20, 30] and id is 2394022579904

In [25]:
list_a = [1, 2]
list_b = [3, 4]
list_a.extend(list_b)
print(list_a)

[1, 2, 3, 4]

In [28]:
list_a = [1, 2]
list_b = [3, 4]
list_c=list_a+list_b
print(list_c)

[1, 2, 3, 4]

In [29]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
list1=[i for i in list1 if i]

In [30]:
print(list1)

['Mike', 'Emma', 'Kelly', 'Brad']

In [31]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

# remove None from list1 and convert result into list
res = list(filter(None, list1))
print(res)

['Mike', 'Emma', 'Kelly', 'Brad']

In [32]:
list_with_duplicates = [1, 2, 2, 3, 1, 4, 5, 4]
#Write a function that takes a list with duplicate elements and returns a new list with only unique elements.
list_with_duplicates=list(set(list_with_duplicates))
print(list_with_duplicates)

[1, 2, 3, 4, 5]

In [36]:
# Given a Python list, write a program to remove all occurrences of item 20.
list1 = [5, 20, 15, 20, 25, 50, 20]
list1=[i for i in list1 if i!=20]
print(list1)

[5, 15, 25, 50]

In [37]:
list1 = [5, 20, 15, 20, 25, 50, 20]
while 20 in list1:
    list1.remove(20)
print(list1)

[5, 15, 25, 50]

In [39]:
my_list = [1, 2, 3, 'Jessa', 4, 5, 'Kelly', 'Jhon', 6]
a=[item for item in my_list if isinstance(item,int)]
print(a)

[1, 2, 3, 4, 5, 6]

In [40]:
list1 = ["M", "na", "i", "Ke"] 
list2 = ["y", "me", "s", "lly"]
list3 = [i + j for i, j in zip(list1, list2)]
print(list3)

['My', 'name', 'is', 'Kelly']

In [41]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

res = [x + y for x in list1 for y in list2]
print(res)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']